<section>
    <p style="padding-top: 26px;">System Lead / Architect for Turner Broadcasting System working on <a href="http://cnn.com">CNN.com</a></p>
    <div style='text-align: center;'>
        <ul>
<!-- google+       --><li><div class="g-person" data-width="273" data-href="//plus.google.com/118054553426863794132" data-theme="dark" data-layout="landscape" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div></li>
<!-- github        --><li><iframe src="http://ghbtns.com/github-btn.html?user=jamsyoung&type=follow&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="205" height="30"></iframe></li>
<!-- twitter       --><li><a href="https://twitter.com/jamsyoung" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jamsyoung</a></li>
<!-- linkedin      --><li><a href="http://www.linkedin.com/in/jamesmyoung"><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View James Young's profile on LinkedIn" style="border: none;"></a></li>
<!-- npmjs.org     --><li><a href="https://npmjs.org/~jamsyoung">npmjs.org Profile</a></li>
<!-- osrc          --><li><a href="http://osrc.dfm.io/jamsyoung">Open Source Report Card</a></li>
<!-- facebook      --><li><a href="https://facebook.com/jamsyoung">Facebook</a></li>
<!-- stackoverflow --><li>{% if site.stackoverflow_user_name %}<a href="http://stackoverflow.com/users/{{site.stackoverflow_user_id}}/{{site.stackoverflow_user_name}}"><div>Stack Overflow</div><div><img src="http://stackoverflow.com/users/flair/{{site.stackoverflow_user_id}}.png" alt="profile for {{ site.stackoverflow_user_name }} at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for {{ site.stackoverflow_user_name }} at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></div></a>{% endif %}</li>
        </u>
    </div>
</section>

<!-- required for google + badge -->
<script>(function(){var po=document.createElement('script');po.async=true;po.src='https://apis.google.com/js/plusone.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po,s);})();</script>



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
