// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.jy-column { float: left; width: 50%; }

body>header {
    // background: url('http://jamsyoung.com/images/walking-dead-issue-092.jpg');
    background: url('/images/twd_1_bkgd.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top;
}
